.head{
    display: flex;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 70px;
   
}
.imgss{
    width: 550px;
    margin-left: 180px;
}
.desc{
    color: #666;
}
.otp{
    color: #666;
    font-size: 13px;
    margin-top: 15px
}
.h1{
    margin-left: 120px;
    
}
.button{
    margin-left: 30px;
}
.h{
    margin-right: 250px;
}
.p{
    color: blue;
    margin-right: 100px;
    margin-top: 5px;
}