.footermain{
    text-align: left;
    font-weight: 15px;
    background-color: rgb(5, 55, 61);
}
.footer1{
    margin-left: 25px; 
    width: 100%;
    color: white;
    
}

.pop{
    margin-right: 88px;
   
}
