body{
    background-color: rgb(223, 236, 240)
}
#container{
    margin: 0;
     margin-right: 600px;
     margin-left: 500px; 

}
h2{
    color: blue;
}
#p{
    margin-right: 80px;;
}
#p1{
    margin-right: 140px;
}
#img{
    width: 200px;
    height: 120px;
}
#btn{
    margin: 20px auto;
    width: 110px;
    height: 50px;
    background-color: rgb(31, 96, 182);
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}
#default{
color: red;
}
h3{
    margin-right: 70px;
}